{% extends "piBeer/masterDetail.html" %}
{% load i18n %}
{% load staticfiles %}

{% block additionalJS %}
  <script src={% static "recipeManager/js/custom/mainRecipes.js" %}></script>
  <script type="text/javascript">
    newModalTitle='{{ newModalTitle }}';
    editModalTitle='{{ editModalTitle }}';
    deleteModalTitle='{{ deleteModalTitle }}';
    deleteModalConfirmation='{{ deleteModalConfirmation }}';
    newIngredientModalTitle='{{ newIngredientModalTitle }}';
    deleteIngredientModalConfirmation='{{ newIngredientModalConfirmation }}';
    newRecipeUrl="{% url 'recipe_manager_add_edit_recipe' recipe_id=-1 %}";
    deleteRecipeUrl="{% url 'recipe_manager_delete_recipe' recipe_id=-1 %}";
    filterRecipeUrl="{% url 'recipe_manager_filter_recipe' %}";
    selectRecipeUrl="{% url 'recipe_manager_get_details' recipe_id=-1 %}";
    newIngredientUrl="{% url 'recipe_manager_add_edit_ingredient' ingredient_id=-1 %}";
    deleteIngredientUrl="{%  url 'recipe_manager_delete_recipe_ingredient' ingredient_id=-1 %}";

  </script>
{% endblock %}

{% block filtersDefinition%}
  {% include 'recipeManager/filterForm.html' with form=filter_form%}
{% endblock %}


{% block mainTable %}
  {% include 'recipeManager/recipeTable.html' with recipe_list=recipe_list%}
{% endblock %}
{% block detailPanel %}
  {% include 'recipeManager/recipeDetails.html' with recipe=recipe_list.0 %}
{% endblock %}
{% block modalContent%}
  <h1>Modal Content</h1>
{% endblock %}
