{% extends "piBeer/singleTable.html" %}
{% load i18n %}
{% load staticfiles %}

{% block additionalJS %}
  <script src={% static "recipeManager/js/custom/mainProducts.js" %}></script>
  <script type="text/javascript">
    newModalTitle='{{ newModalTitle }}';
    editModalTitle='{{ editModalTitle }}';
    deleteModalTitle='{{ deleteModalTitle }}';
    deleteModalConfirmation='{{ deleteModalConfirmation }}';
    newProductUrl="{% url 'recipe_manager_add_product' %}";
    deleteProductUrl="{% url 'recipe_manager_delete_product' product_id=-1 %}";
  </script>
{% endblock %}

{% block filtersDefinition%}
  {% include 'recipeManager/productFilterForm.html' with form=filter_form%}
{% endblock %}


{% block mainTable %}
  {% include 'recipeManager/productTable.html' with product_list=product_list%}
{% endblock %}

{% block modalContent%}
  <h1>Modal Content</h1>
{% endblock %}
