{% if recipe %}

<div class="tabbable">
  <ul class="nav nav-tabs navbar-custom">
    <li class="navbar-link active"><a data-toggle="tab" href="#tab1">General Information</a></li>
    <li class=" navbar-link"><a data-toggle="tab" href="#tab2">Ingredients</a></li>
    <li class=" navbar-link"><a data-toggle="tab" href="#tab3">Steps</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <div class="container">
        <h4>Recipe</h4>
        <p class="lead span6 margin-left">{{ recipe.name }}</p>
        <h4>Description</h4>
        <p class="text-justify margin-left">{{ recipe.description }}</p>
      </div>
    </div>
    <div id="tab2" class="tab-pane">
      <div class="fixed-header pull-right detail-toolbar">
          <div class="pull-right" style="margin:10px;">
          <button type="button" class="btn btn-success" onclick="openIngredientModal(this);"><i class="fa fa-plus-circle"></i></button>
          <button type="button" class="btn btn-warning" onclick="editIngredientOpenModal(this);"><i class="fa fa-pencil-square-o"></i></button>
          <button type="button" class="btn btn-danger" onclick="deleteIngredient(this);"><i class="fa fa-trash"></i></button>
        </div>
      </div>
      <div class="container" style="width:700px;">
        <div style="height:55px"></div>
          <div id="ingredientsTable">
            {% include "recipeManager/recipeIngredientTable.html" with ingredients=ingredients %}
          </div>
        <div style="height:55px"></div>
      </div>
    </div>
    <div id="tab3" class="tab-pane">
      <div class="container" style="width:700px;">
        <ul class="timeline">
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              </div>
              <div class="timeline-body">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="row" style="margin-top:50px; color:#AAAAAA;">
  <div class="col-lg-12 text-center">
    <p ><i class="ion-5x ionicons ion-ios-pint"></i></p>
    <h3>Uppss, there is no recipe!!<h3>
      <h3>Start now to design your best creation</h3>
  </div>
</div>
{% endif %}
